/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #333 !important;
  color: #ffffff !important;
}

[data-theme='dark'] .footer {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

.button--primary {
  background-color: black !important;
  border-color: black !important;
}

.button--primary:hover {
  background-color: #666 !important;
  border-color: #666 !important;
}

[data-theme='dark'] .button--primary {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
}

[data-theme='dark'] .button--primary:hover {
  background-color: #666 !important;
  border-color: #666 !important;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: transform 0.3s ease-in-out !important;
  background-color: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(10px) !important;
}

[data-theme='dark'] .navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: transform 0.3s ease-in-out !important;
  background-color: #333 !important;
  backdrop-filter: blur(10px) !important;
}


.navbar--hidden {
  transform: translateY(-100%) !important;
}

.navbar--visible {
  transform: translateY(0) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.markdown img {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  height: auto;
}

.markdown h1 {
  text-align: left;
  margin-top: 2rem;
}